

<div class="container profile_box">
  <h1 class="cover-heading">Hi, <%= @user.first_name %></h1>
  <br>
  <div align="left">
    <p style="font-size:20px;">First name:
      <%= text_field_tag "first_name", @user.first_name, class: "form-control", type: "text", disabled: "disabled" %>
    </p>

    <p style="font-size:20px;">Last  name:
      <%= text_field_tag "last_name", @user.last_name, class: "form-control", type: "text", disabled: "disabled" %>
    </p>
    <p style="font-size:20px;">Username  :
      <%= text_field_tag "username", @user.username, class: "form-control", type: "text", disabled: "disabled" %>
    </p>
    <p style="font-size:20px;">API key   :
      <%= text_field_tag "api_key", @user.api_key, class: "form-control", type: "text", disabled: "disabled" %>
  </div>

  <br>
  <%= form_tag "/delete_account" do %>
    <p>
      <%= submit_tag "Delete Account", class: "btn btn-lg btn-primary btn-block", onclick: "return confirm('Are you sure?')" %>
    </p>
  <% end %>
</div>
