<!DOCTYPE html>
<html>
  <head>
    <title>Warehouse</title>
    <%= csrf_meta_tags %>

    <!-- Load the Boostrap framework-->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/warehouses">Warehouse</a>

      <div class="collapse navbar-collapse">
        <div class="navbar-nav mr-auto">
            <a class="nav-link" href="/warehouses">Home</a>
            <a class="nav-link" href="/warehouses/document">Document</a>
        </div>

        <div class="navbar-nav navbar-right">
          <% if session["user_id"].blank? %>
            <a class="nav-link" href="/users/new">Sign up</a>
            <a class="nav-link" href="/login">Log in</a>
          <% else %>
            <a class="nav-link" href="/users/index">Profile</a>
            <a class="nav-link" href="/logout">Log out</a>
          <% end %>
        </div>
      </div>
    </nav>


    <div class="container" align="center">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div>

      <%= yield %>

    </div>
  </body>
</html>
